
<div *ngIf="showCourseDetails" class="overlay" (click)="toggleCourseDetails()"></div>

<div *ngIf="course" class="course-details">
  <div class="course-image" [style.backgroundImage]="'url(assets/' + course.image + ')'">
    <div class="course-name" [class.focused]="focusCourse" (focus)="handleFocus()" (click)="toggleCourseDetails()">{{ course?.name }}</div>
  </div>
</div>

<div *ngIf="showCourseDetails && course" class="course-details-window">
  <div *ngIf="!editCourse" class="course-details-content">
    <div class="course-details-content">
      <h2 class="title">{{ course.name }}</h2>

      <div class="detail">
        <span class="icon-wrapper">
          <img src="assets/code.png" alt="Icon" class="icon">
        </span>
        <span class="detail-text">Code: {{ course.code }}</span>
      </div>

      <div class="detail">
        <span class="icon-wrapper">
          <img src="assets/teacher.png" alt="Icon" class="icon">
        </span>
        <span class="detail-text">{{ course.lessonCount }} Lessons</span>
      </div>

      <div class="detail" [ngClass]="{'highlighted': isDateInNextWeek(course.startDate)}">
        <span class="icon-wrapper">
          <img src="assets/calendar.png" alt="Icon" class="icon">
        </span>
        <span>Start Date: </span>
        <span>{{ course.startDate }}</span>
      </div>

      <div class="syllabus-info">
        <span class="icon-wrapper">
          <img src="assets/syllabus.png" alt="Syllabus Icon" class="icon">
        </span>
        <span class="detail-title">Syllabus:</span>
        <div *ngFor="let item of course.syllabus" class="syllabus-item">
          <span class="icon-wrapper">
            <img src="assets/arrow.png" alt="Item Icon" class="icon">
          </span>
          <span class="detail-text">{{ item }}</span>
        </div>
      </div>
      <div class="detail"></div>

      <div *ngIf="course.category" class="category-info" class="detail">
        <span class="icon-wrapper">
          <img src="{{'assets/'+course.category.iconRoute }}" alt="{{ course.category.name }} Icon" class="icon">
        </span>
        <span class="detail-text">{{ course.category.name }} category</span>
      </div>
    </div>

    <div *ngIf="showCourseDetails" class="overlay" (click)="toggleCourseDetails()"></div> <!-- Full-page overlay -->
    <div *ngIf="course" class="course-details">
      <div class="course-image" [style.backgroundImage]="'url(assets/' + course.image + ')'">
        <div class="course-name" [class.focused]="focusCourse" (focus)="handleFocus()" (click)="toggleCourseDetails()">{{ course?.name }}</div>
      </div>
    </div>

    <div *ngIf="showCourseDetails && course" class="course-details-window">
      <div *ngIf="!editCourse" class="course-details-content">
        <div class="course-details-content">
          <h2 class="title">{{ course.name }}</h2>

          <div class="detail">
            <span class="icon-wrapper">
              <img src="assets/code.png" alt="Icon" class="icon">
            </span>
            <span class="detail-text">Code: {{ course.code }}</span>
          </div>

          <div class="detail">
            <span class="icon-wrapper">
              <img src="assets/teacher.png" alt="Icon" class="icon">
            </span>
            <span class="detail-text">{{ course.lessonCount }} Lessons</span>
          </div>

          <div class="detail" [ngClass]="{'highlighted': isDateInNextWeek(course.startDate)}">
            <span class="icon-wrapper">
              <img src="assets/calendar.png" alt="Icon" class="icon">
            </span>
            <span>Start Date: </span>
            <span>{{ course.startDate }}</span>
          </div>

          <div class="syllabus-info">
            <span class="icon-wrapper">
              <img src="assets/syllabus.png" alt="Syllabus Icon" class="icon">
            </span>
            <span class="detail-title">Syllabus:</span>
            <div *ngFor="let item of course.syllabus" class="syllabus-item">
              <span class="icon-wrapper">
                <img src="assets/arrow.png" alt="Item Icon" class="icon">
              </span>
              <span class="detail-text">{{ item }}</span>
            </div>
          </div>
          <div class="detail"></div>

          <div *ngIf="course.category" class="category-info" class="detail">
            <span class="icon-wrapper">
              <img src="{{'assets/'+course.category.iconRoute }}" alt="{{ course.category.name }} Icon" class="icon">
            </span>
            <span class="detail-text">{{ course.category.name }} category</span>
          </div>
        </div>



